{% extends "layout.html" %}

{% block icon %}
<link href="/static/staid-title-icon.ico" rel="icon">
{% endblock %}

{% block title %}
About Staid
{% endblock %}


{% block about_active %}
active
{% endblock %}


{% block body %}
<br>
<br>
<h1 class="mt-5 ms-5 me-5">About Staid.</h1>
<p class="mt-4 ms-5 me-5">
    Staid was created to empower students with the ability to take control of their learning. The tools
    that Staid provides are meant to aid you, the student, to reach your targets. Reaching your targets is a key
    goal that Staid aims to achieve, as seen with the logo of Staid being a target. This was created with
    countless hours of researching various libraries, documentation and more to implement features that work
    seamlessly with each other. Staid was a great learning opportunity for me to hone my programming skills,
    including both front-end and back-end in creating this Web App. Everything used here is open-source & you are free
    to take inspiration from Staid for your projects. If you want to see more of my work or view the repository
    for this project, you can do so through the footer links.
</p>
<h4 class="mt-5 ms-5 me-5">Credits:</h4>
<ul class="mt-2 ms-5 me-5">
    <li class="mt-2"><a href="https://getbootstrap.com/" target="_blank" rel="noopener noreferrer">Bootstrap</a>: For some of the HTML & CSS of this site.</li>
    <li class="mt-2"><a href="https://feathericons.com/" target="_blank" rel="noopener noreferrer">Feather Icons</a>: For the use of their icons used throught this site.</li>
    <li class="mt-2"><a href="https://geo.ipify.org/" target="_blank" rel="noopener noreferrer">Geo IPify</a>: For retrieving user geographical data.</li>
    <li class="mt-2"><a href="https://www.openstreetmap.org/" target="_blank" rel="noopener noreferrer">OpenStreetMap</a>: For its maps, used in conjunction with Geo IPify data.</li>
</ul>
{% endblock %}