{% extends "layout.html" %}

{% block icon %}
<link href="/static/book-title-icon.ico" rel="icon">
{% endblock %}

{% block title %}
Staid: Your Logbook
{% endblock %}


{% block log_active %}
active
{% endblock %}


{% block body %}
<div class="mt-5 me-5 ps-5">
  <p>Add a session to your Logbook:</p>
  <form action="/logbook" method="post">
    <div class="row g-3">
      <div class="col-sm">
        <input type="text" class="form-control" name="session_name" placeholder="Session Name" maxlength="10">
      </div>
      <div class="col-sm">
        <input class="form-control" type="text" placeholder="00h 00m 00s (Duration)" name="session_duration" minlength="11" maxlength="11">
      </div>
      <div class="col-sm">
        <input type="text" class="form-control" placeholder="DD/MM/YYYY (Date)" name="date" minlength="10" maxlength="10">
      </div>
      <div class="col-sm">
        <button class="btn btn-logbook" type="submit" style="min-width: 100%;">Add this session!</button>
      </div>
    </div>
</form>
</div>
<br>
<hr>
<div class="mt-4 me-5 ms-5">
<p>Your Logbook:</p>
<table class="table table-hover">
    <thead class="table-logbook">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Session Name</th>
        <th scope="col">Duration</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      {% for session in user_data: %}
      <tr>
        <th scope="row">{{ loop.index }}</th>
        <td>{{ session["session_name"] }}</td>
        <td>{{ session["session_duration"] }}</td>
        <td>{{ session["session_date"] }}</td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}